VITE_API_URL=http://192.168.93.40:3010/api
VITE_SOCKET_URL=http://192.168.93.40:3010
# Opcional: si el backend no tiene OPENAI_API_KEY, puedes pasarla desde aquí (solo para desarrollo)
# VITE_OPENAI_KEY=sk-...
